@import "../../styles/variables.sass"
@import "../../styles/mixins.sass"

.cost_item 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.5rem
    margin: 1rem 0
    background-color: $costItemBackColor
    @include border

    .price 
        font-size: 1rem
        font-weight: bold        
        padding: 1rem
        @include date-and-price

    .description 
        font-size: 1.3rem
        display: flex
        gap: 1rem
        justify-content: center

    .cost_date 
        display: flex
        flex-direction: column
        width: 5.5rem
        height: 5.5rem
        align-items: center
        justify-content: center
        @include date-and-price
    
        .year 
            font-size: 0.75rem
        .month 
            font-size: 1rem
            font-weight: bold
        .day 
            font-size: 1.5rem
            font-weight: bold




