.costs_list
    padding: 1rem
    background-color: #aac4d1
    margin: 2rem auto
    width: 70rem
    max-width: 95%
    border-radius: 10px
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25)

.empty_list
    font-size: 1.2rem
    text-align: center
    padding: 1rem
    background-color: #bd8025
    margin: 2rem auto
    width: 70rem
    max-width: 95%
    border-radius: 10px
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25)